*{
  box-sizing: border-box;
}
@import "tailwindcss";
@plugin './hero.js';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme{
   --color-mainColor:#1c64f2;
}
@utility container{
    margin:auto;

    @media (width >= 96rem ) {
        max-width: 80rem ;
    }
      width: 85%;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
}

@layer components{
  .ulclass{
    @apply flex flex-col font-medium mt-4 rounded-lg justify-center items-center bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700
  }
  .liclass{
    @apply block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent
  }
  .active{
    @apply block py-2 px-3 md:p-0 text-blue-500 bg-slate-200 rounded-sm md:bg-transparent md:text-blue-700 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent
  }
  .commentInput{
    @apply block w-full p-4   text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }
  .commentButton{
    @apply text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
  }
}

@layer base{
  h1{
    @apply text-4xl font-bold;
  }
}